apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager
  namespace: kube-system
spec:
  repo: https://charts.jetstack.io
  chart: cert-manager
  version: v1.14.4
  targetNamespace: cert-manager
  createNamespace: true
  valuesContent: |-
    {{ lookup('file', 'values/cert-manager.yaml') | indent(4) }}
